# Terraform files
**/.terraform/*
*/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
**/terraform/modules/keypair/eks-keypair.pem
*/terraform/modules/keypair/eks-keypair.pem
